[submodule "yate"]
	path = src/libs/yate
	url = git@github.com:pasaran/yate.git
[submodule "jslix"]
	path = src/libs/jslix
	url = git@github.com:jbinary/jslix.git
[submodule "js-signals"]
	path = src/libs/js-signals
	url = git://github.com/millermedeiros/js-signals
