[submodule "yate"]
	path = libs/yate
	url = git@github.com:pasaran/yate.git
[submodule "jslix"]
	path = libs/jslix
	url = git@github.com:jbinary/jslix.git
[submodule "js-signals"]
	path = libs/js-signals
	url = git://github.com/millermedeiros/js-signals
[submodule "jQuery-contextMenu"]
	path = libs/jQuery-contextmenu
	url = git://github.com/medialize/jQuery-contextMenu.git
